.wrapper
{
	display: flex;
	flex-direction:column;
}
.header{
	height: 100px;
}
.middle{
	flex:1;
	display: flex;
	flex-direction:row;
	}
#main_svg
{
	flex:1;
}
#right_part
{
	border: 1px red solid;
	width: 400px;
	box-sizing:border-box;
	margin-left: 30px;
}

.chords {
  		fill-opacity: 0.67;
  		/*stroke: #000;*/
  		stroke-width: 3.5px;
	}

.chord_text
{
	font-size: 10px;
	color: black;
}

.hide{
	display: none;
}
.show{
	fill:yellow;
	fill-opacity:1;
}


#chordcolor_legend
{
	list-style-type: none;
}
#chordcolor_legend li
{
	display: inline-block;
	border-top-width: 15px;
	border-top-style: solid;
	font-size: .6em;
	text-align: right;
	width: 10%;
}